body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

p {
    color: white;
}

.newslist{
    padding-top:115px;
}

@include tablet {
    
}

@include desktop {

}